html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
  background-color: $bg-color;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}