// CONTAINER
$mw: 1360px;
$newMw: $mw + 30px;

// DEFAULT FONT  =>  in BASE
$font-family: system-ui, sans-serif;

// DEFAULT FONT-WEIGHT  =>  in BASE
$font-weight: 500;

// DEFAULT FONT-SIZE  =>  in BASE
$font-size: 1rem;

// DEFAULT FONT-COLOR  =>  in BASE
$color: #2F2F2F;

// DEFAULT BACKGROUND-COLOR  =>  in BASE
$bg-color: #F4F7FF;